@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
select {
  width: 25%;
  height: 2em;
  margin: 10px;
  font-weight: 560;
  border-radius: 5px;
}

.search-bar {
  width: 95%;
  border-radius: 5px;
  border: 1px solid;
  padding: 10px;
  font-family: FontAwesome;
  margin-top: 5px;
  font-size: 1.3em
}

.category {
  margin-top: 5px;
} 

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.categories label {
  border-radius: 5px;
  display: inline-block;
  padding: 4px;
  border: solid 2px #ccc;
  transition: all 0.3s;
  font-size: .4em;
}

.categories input[type="checkbox"] {
  display: none;
}

.categories input[type="checkbox"]:checked + label {
  border: solid 2px green;
}
