.api-card-container {
  position: relative;
}

.api-card {
  position: relative;
  overflow-x: hidden;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  text-align: left;
  font-size: 0.5em;
  width: 100%;
}

.api-card-link {
  text-decoration: none;
  color: rgba(29, 29, 29, 0.986);
}

.api-card h2 {
  font-weight: 800;
  font-size: 3em;
  margin-left: 10px;
}

.api-card p {
  margin-left: 10px;
  font-size: 0.7em;
}

.category {
  text-align: right;
  font-weight: bold;
  margin-right: 10px;
}

.favorite-btn-api-card {
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 20px;
}
