language: node_js
node_js:
  - "node"
notifications:
  email: false

install: 
  - npm i
before_script:
  - npm install -g webpack
  - npm install -g mocha
  - npm install -g chai
  script: 
  - npm test
  - npm run build