html,
body,
#root,
.App,
main {
  height: 100%;
  background-color: #BEE3DB;
}

.error-message-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5%;
  background-color: #FAF9F9;
}

.error-button {
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.warning-icon {
  height: 10%;
  width: 10%;
  color: #FF7575;
}