* {
  box-sizing: border-box;
}

.App {
  background: #bee3db;
  text-align: center;
  display: grid;
  grid-template-columns: 35px 1fr;
  min-height: 100vh;
}

main {
  grid-column: 2;
  transition: all 0.5s ease;
}

.shrink {
  justify-self: end;
  width: calc(100% - 265px);
}

h1 {
  font-size: 5em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.saved-notes {
  padding: 10px 0;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid black;
  height: 100vh;
  width: 400px;
  overflow: scroll;
}

.saved-notes::-webkit-scrollbar {
  display: none;
}

.saved-notes h3 {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  font-size: 30px;
}

@media screen and (max-width: 1150px) {
  .saved-notes {
    float: unset;
    height: unset;
    padding: 0;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-gap: 10px;
  }
  .saved-notes h3 {
    grid-column: 1/ -1;
    margin-bottom: unset;
  }
}

@media screen and (max-width: 800px) {
  .shrink {
    justify-self: unset;
    width: unset;
  }
}

@media screen and (max-width: 400px) {
  main {
    grid-column: 1/3;
    width: 100%;
    padding-left: 35px;
  }

  h1 {
    font-size: 2em;
    margin: 15px 0;
  }
}
