.featured-card {
  margin: 100px auto;
  width: 30%;
  border: 2px solid black;
  border-radius: 6px;
  padding: 20px;
}

.featured-card__notes {
  width: 90%;
  height: 150px;
  resize: vertical;
  padding: 20px;
}
