.featured-card {
  position: relative;
  display: inline-block;
  margin: 100px auto;
  width: 400px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 20px;
}

.featured-card__notes {
  width: 90%;
  height: 150px;
  resize: vertical;
  padding: 20px;
}

.featured-card p {
  text-align: left;
}

.home-link {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  transition: all 200ms ease-in;
}

.home-link:hover {
  cursor: pointer;
  color: rgb(99, 99, 99);
}

.home-link__arrow {
  vertical-align: bottom;
  font-size: 20px;
}
