.side-bar {
  height: 100%;
  position: fixed;
  background-color: #faf9f9;
  transform: translateX(-265px);
  transition: all 0.5s ease 0s;
  grid-column: 1;
  width: 300px;
  overflow-y: scroll;
  z-index: 5;
}

.side-bar::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}

.open {
  transform: translateX(0px);
  transition: all 0.5s ease 0s;
  grid-column: 1;
}

.open-arrow {
  transform: rotate(-180deg);
}

.section-label {
  margin-bottom: 50px;
  font-size: 2.3em;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.arrow {
  float: right;
  width: 30px;
  height: 30px;
  margin: 3px;
  margin-bottom: 50;
  right: 0;
  transition: all 0.5s ease 0s;
}

.side-bar .card-container {
  display: flex;
  flex-flow: column;
  padding-right: 30px;
}

.side-bar .card-container .api-card {
  border-color: grey;
}
